.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  body {
    background-color:#2f92a8;
    font-size: xx-large;
    text-align: center;
    font-size: 10hw;
  }

 
.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2rem;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: blue;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  }
  
  .card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  }
  
  .card.flip {
    --rotate-y: 180deg;
  }
  
  .card .front {
    left: 0;
  }
  
  .card .front,
  .card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
  }
  
  .card .back {
    transform: rotateY(180deg);
  }
  

  img {
    max-width: 100%;
    height: auto;
    position: right;
    /* display: inline-block; */
    float: right;
    object-fit:scale-down

    /* width: 200px;
    height: 100px; */
  }

  .master_tikkun {
    padding: 15px 32px;
    height: auto;
    max-width: 100%;
    position: center;
    text-align: center;
    display: inline-block;
    align-items: center;

  }

  .card-options {
    color: white;
    white-space: break-word;
    padding: 5px;
    font-family: Arial;
    text-align: center;
  }

  parsha_1 {
    background-color: #c9ad7a; 
    border: none;
    color: black;
    padding: 15px 32px;
    width: 75%;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }

  parsha_2 {
    background-color: #c9bd7a; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: left;
    width: 75%;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }

  player {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* margin: center; */
    text-align: center;
    background-color:#c9ad7a; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }


  ro {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10hw;
    font-family: 'Times New Roman', Times, serif;
  }
  
  ro:active {
    color: yellow;
  }
  
  ro:hover {
    background-color: black;
  }
  
ro:active .mercha_tipcha_e {
    transition: 10s ease;
    display:inline;
}
ro .mercha_tipcha_e {
    display:none;
}
ro:active .mercha_tipcha_h {
    display:none;
}
ro:active .munach_e {
    transition: 10s ease;
    display:inline;
}
ro .munach_e {
    display:none;
}
ro:active .munach_h {
    display:none;
}
ro:active .munach_zakef_katon_e {
    transition: 10s ease;
    display:inline;
}
ro .munach_zakef_katon_e {
    display:none;
}
ro:active .munach_zakef_katon_h {
    display:none;
}
ro:active .kadma_vazla_e {
    transition: 10s ease;
    display:inline;
}
ro .kadma_vazla_e {
    display:none;
}
ro:active .kadma_vazla_h {
    display:none;
}
ro:active .tlisha_ktana_e {
    transition: 10s ease;
    display:inline;
}
ro .tlisha_ktana_e {
    display:none;
}
ro:active .tlisha_ktana_h {
    display:none;
}
ro:active .tlisha_gdola_e {
    transition: 10s ease;
    display:inline;
}
ro .tlisha_gdola_e {
    display:none;
}
ro:active .tlisha_gdola_h {
    display:none;
}
ro:active .kadma_e {
    transition: 10s ease;
    display:inline;
}
ro .kadma_e {
    display:none;
}
ro:active .kadma_h {
    display:none;
}
ro:active .sof_pasuk_e {
    transition: 10s ease;
    display:inline;
}
ro .sof_pasuk_e {
    display:none;
}
ro:active .sof_pasuk_h {
    display:none;
}
ro:active .etnachta_e {
    transition: 10s ease;
    display:inline;
}
ro .etnachta_e {
    display:none;
}
ro:active .etnachta_h {
    display:none;
}
ro:active .munach_etnachta_e {
    transition: 10s ease;
    display:inline;
}
ro .munach_etnachta_e {
    display:none;
}
ro:active .munach_etnachta_h {
    display:none;
}
ro:active .zakef_gadol_e {
    transition: 10s ease;
    display:inline;
}
ro .zakef_gadol_e {
    display:none;
}
ro:active .zakef_gadol_h {
    display:none;
}
ro:active .munach_revii_e {
    transition: 10s ease;
    display:inline;
}
ro .munach_revii_e {
    display:none;
}
ro:active .munach_revii_h {
    display:none;
}
ro:active .gershayim_e {
    transition: 10s ease;
    display:inline;
}
ro .gershayim_e {
    display:none;
}
ro:active .gershayim_h {
    display:none;
}
ro:active .mapach_pashta_e {
    transition: 10s ease;
    display:inline;
}
ro .mapach_pashta_e {
    display:none;
}
ro:active .mapach_pashta_h {
    display:none;
}
ro:active .yetiv_e {
    transition: 10s ease;
    display:inline;
}
ro .yetiv_e {
    display:none;
}
ro:active .yetiv_h {
    display:none;
}
ro:active .munach_zarka_segol_e {
    transition: 10s ease;
    display:inline;
}
ro .munach_zarka_segol_e {
    display:none;
}
ro:active .munach_zarka_segol_h {
    display:none;
}
ro:active .darga_tvir_e {
    transition: 10s ease;
    display:inline;
}
ro .darga_tvir_e {
    display:none;
}
ro:active .darga_tvir_h {
    display:none;
}
ro:active .psik_e {
    transition: 10s ease;
    display:inline;
}
ro .psik_e {
    display:none;
}
ro:active .psik_h {
    display:none;
}
ro:active .pazer_e {
    transition: 10s ease;
    display:inline;
}
ro .pazer_e {
    display:none;
}
ro:active .pazer_h {
    display:none;
}
ro:active .pashta_e {
    transition: 10s ease;
    display:inline;
}
ro .pashta_e {
    display:none;
}
ro:active .pashta_h {
    display:none;
}
