.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color:#2f92a8;
  font-size: xx-large;
  text-align: center;
  font-size: 10hw;
}

ro {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10hw;
  font-family: 'Times New Roman', Times, serif;
}

ro:active {
  color: yellow;
}

ro:hover {
  background-color: black;
}

ro:hover .munach_h {
  display:none;
}
ro .munach_e {
  display:none;
}
ro:hover .munach_e {
  transition: 10s ease;
  display:inline;
}

ro:hover .munach_zakef_katon_h {
  display:none;
}
ro .munach_zakef_katon_e {
  display:none;
}
ro:hover .munach_zakef_katon_e {
  display:inline;
}

ro:hover .mercha_tipcha_h {
  display:none;
}
ro .mercha_tipcha_e {
  display:none;
}
ro:hover .mercha_tipcha_e {
  display:inline;
}

ro:hover .mapach_pashta_h {
  display:none;
}
ro .mapach_pashta_e {
  display:none;
}
ro:hover .mapach_pashta_e {
  display:inline;
}
