.App {
    font-family: sans-serif;
    text-align: center;
    
  }

  body {
    background-color:#2f92a8;
    font-size: x-large;
    text-align: center;
    display: flex;
    
  }

  .Countdown{
    background-color: brown;
    margin: 10px auto;
    color: white;

    /* padding-bottom: 20px; */
    /* display: inline-flex; */
  }
  
  .MuiTabs-root{
    font-size: xx-large;
    border: 1px solid #e7e7e7;
    flex-direction: column;
    background-color: #c9ad7a;
  }

 .MuiTab-root :hover {
    border: 4px solid #e7e7e7;
    background-color: #ddd;
    color: rgb(116, 142, 216);
  }

  .Countdown-col{
    display: inline-flex;
  }
  
  .Countdown-col-element{
    /* display: inline-block; */
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
  
  .Countdown-col-element strong{
    font-size: 10;
  }

  img {
    max-width: 100%;
    height: auto;
    position: center;
    /* display: inline-block; */
    float: right;
    object-fit:scale-down

    /* width: 600px;
    height: 200px; */
  }

  .master_tikkun {
    padding: 15px 32px;
    height: auto;
    max-width: 100%;
    position: center;
    text-align: center;
    display: inline-block;
    align-items: center;

  }

  .bm {
    padding: 15px 32px;
    height: auto;
    /* max-width: 100%; */
    position: left;
    display: flex;
    position: sticky;
    border-right: 1px solid #bbb;
  }

  parsha_1 {
    background-color: #c9ad7a; 
    border: none;
    color: black;
    padding: 15px 32px;
    width: 75%;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }

  parsha_2 {
    background-color: #c9bd7a; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: left;
    width: 75%;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }

  fl:hover {
    color: #2f92a8;
    font-size: 200%;
  }


  player {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* margin: center; */
    text-align: center;
    background-color:#c9ad7a; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
